.btn {
  color: $btn-text;
  border: 2px solid $brand-secondary;
  border-radius: 0;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.18em;
  padding: 15px 50px;
  background: none;
}
