body {
  font-size: 16px;
  background-color: $brand-primary;
  color: $text-color;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 3.875em;
  font-family: $header-font;
  text-transform: uppercase;
}

h2 {
  font-family: $header-font;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2.375em;
  letter-spacing: 0.14em;
  line-height: 1.3;

  strong {
    font-weight: bold;
  }
}

h5 {
  font-size: 1.313em;
  font-family: $header-font;
}

a {
  color: $text-color;
}

.relative-wrap {
  position: relative;
  height: 100%;
  width: 100%;
}

.alt-bg {
  background-color: $brand-tertiary;
}

.img-border {
  border: solid 2px $brand-secondary;
  margin-bottom: -25px;
  margin-right: 50px;
  display: inline-block;

  & > img {
    z-index: -1;
    position: relative;
    right: -50px;
    bottom: -50px;
    box-shadow: 0 14px 13px 0 rgba(0, 0, 0, 0.24);
  }
}

.offset-parent {
  z-index: 1;
}

//extends
%font-awesome {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
