// Slick Carousel font path
$slick-font-path: "~slick-carousel/slick/fonts/";

// Slick Carousel ajax-loader.gif path
$slick-loader-path: "~slick-carousel/slick/";

//Colors
$brand-primary: #171717;
$brand-secondary: #e4b309;
$brand-tertiary: #1f1f1f;
$dark-bg: #171717;
$header-text: #ebebeb;
$white: #ebebeb;
$btn-text: $brand-secondary;

//Fonts
$header-font: Nunito Sans;
$btn-font: Nunito Sans;
