// Slick Carousel font path
$slick-font-path: "~slick-carousel/slick/fonts/";

// Slick Carousel ajax-loader.gif path
$slick-loader-path: "~slick-carousel/slick/";

//Colors
$brand-primary: #171717;
$brand-secondary: #e4b309;
$brand-tertiary: #1f1f1f;
$text-color: #ebebeb;
$white: #ebebeb;
$btn-text: $brand-secondary;

//Fonts
$header-font: Nunito Sans;
$btn-font: Nunito Sans;

//Bootstrap overides
// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px
);

@include _assert-ascending($container-max-widths, "$container-max-widths");
